<nav class="menu-top">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-menu-item">
            <li class="item">
              <a href="/" class="active" ><i class="fa fa-home"></i> Trang chủ</a>
            </li>
            <li class="item">
              <a href="/ghe-massage-ban-chay-nhat" class="active" >Ghế massage</a>
              <div class="item-detail">
                  <div class="item-detail-wrap">

                      <div class="item-sec sec-1">
                        <ul>
                            <%for(var l=0;l<trademarks.count;l++){%>
                              <li><a href="/ghe-massage-<%=trademarks.trademark[l].name%>" target="_blank">Ghế massage <%=trademarks.trademark[l].name%></a></li>
                            <%}%>
                        </ul>
                      </div>
                      <div class="item-sec sec-2">
                        <ul>
                              <li><a href="" title="Ghế Massage Tokuyo">Ghế Massage phổ thông</a></li>
                              <li><a href="" title="Ghế Massage Okia">Ghế Massage hạng trung</a></li>
                              <li><a href="" title="Ghế Massage Ogawa">Ghế Massage hạng sang</a></li>
                        </ul>
                      </div>
                      <div class="item-sec sec-3">
                        <ul><p>Ghế massage bán chạy nhất<p>
                              <li class="item-sell-best">
                                <div class="product-sell-best">
                                    <div class="img-product-sell-best">
                                      <a href="#">
                                        <img src="/assest/image/image/ghe-massage-perfect-s406.jpg" alt="Ghế massage bán chạy nhất">
                                      </a>
                                    </div>
                                    <div class="detail-product-sell-best">
                                        <div class="name-product-sell-best"><a href="">Ghế massage Max-care Max4D</a></div>
                                        <div class="price-product-sell-best">85.990.000đ</div>
                                        <div class="buy-now">
                                          <a href="">
                                            <i class="fa fa-cart-plus"></i>
                                            <span>Mua ngay</span>
                                          </a>
                                        </div>
                                    </div>
                                </div>
                              </li>
                              <li class="item-sell-best">
                                <div class="product-sell-best">
                                    <div class="img-product-sell-best">
                                      <a href="#">
                                        <img src="/assest/image/image/ghe-massage-perfect-s406.jpg" alt="Ghế massage bán chạy nhất">
                                      </a>
                                    </div>
                                    <div class="detail-product-sell-best">
                                        <div class="name-product-sell-best"><a href="">Ghế massage Max-care Max4D</a></div>
                                        <div class="price-product-sell-best">85.990.000đ</div>
                                        <div class="buy-now">
                                          <a href="">
                                            <i class="fa fa-cart-plus"></i>
                                            <span>Mua ngay</span>
                                          </a>
                                        </div>
                                    </div>
                                </div>
                              </li>

                      </div>

                  </div>
              </div>
            </li>
            <li class="item">
              <a href="#" class="active" >Ghế massage cũ</a>
              <div class="item-detail">
                  <div class="item-detail-wrap">

                      <div class="item-sec sec-1">
                        <ul>
                              <li><a href="" title="Ghế Massage Tokuyo">Ghế Massage Tokuyo</a></li>
                              <li><a href="" title="Ghế Massage Okia">Ghế Massage Okia</a></li>
                              <li><a href="" title="Ghế Massage Ogawa">Ghế Massage Ogawa</a></li>
                              <li><a href="" title="Ghế Massage Osim">Ghế Massage Osim</a></li>
                              <li><a href="" title="Ghế Massage Boss">Ghế Massage Boss</a></li>
                              <li><a href="" title="Ghế Massage Dr.Care">Ghế Massage Dr.Care</a></li>
                              <li><a href="" title="Ghế Massage Panasonic">Ghế Massage Panasonic</a></li>
                              <li><a href="" title="Ghế Massage Humantouch">Ghế Massage Humantouch</a></li>
                              <li><a href="" class="">Ghế massage Inada</a></li>
                              <li><a href="/ghe-massage-maxcare.html" class="">Ghế massage Maxcare</a></li>
                        </ul>
                      </div>
                      <div class="item-sec sec-2">
                        <ul>
                              <li><a href="" title="Ghế Massage Tokuyo">Ghế Massage phổ thông</a></li>
                              <li><a href="" title="Ghế Massage Okia">Ghế Massage hạng trung</a></li>
                              <li><a href="" title="Ghế Massage Ogawa">Ghế Massage hạng sang</a></li>
                        </ul>
                      </div>
                      <div class="item-sec sec-3">
                        <ul><p>Ghế massage bán chạy nhất<p>
                              <li class="item-sell-best">
                                <div class="product-sell-best">
                                    <div class="img-product-sell-best">
                                      <a href="#">
                                        <img src="/assest/image/image/ghe-massage-perfect-s406.jpg" alt="Ghế massage bán chạy nhất">
                                      </a>
                                    </div>
                                    <div class="detail-product-sell-best">
                                        <div class="name-product-sell-best"><a href="">Ghế massage Max-care Max4D</a></div>
                                        <div class="price-product-sell-best">85.990.000đ</div>
                                        <div class="buy-now">
                                          <a href="">
                                            <i class="fa fa-cart-plus"></i>
                                            <span>Mua ngay</span>
                                          </a>
                                        </div>
                                    </div>
                                </div>
                              </li>
                              <li class="item-sell-best">
                                <div class="product-sell-best">
                                    <div class="img-product-sell-best">
                                      <a href="#">
                                        <img src="/assest/image/image/ghe-massage-perfect-s406.jpg" alt="Ghế massage bán chạy nhất">
                                      </a>
                                    </div>
                                    <div class="detail-product-sell-best">
                                        <div class="name-product-sell-best"><a href="">Ghế massage Max-care Max4D</a></div>
                                        <div class="price-product-sell-best">85.990.000đ</div>
                                        <div class="buy-now">
                                          <a href="">
                                            <i class="fa fa-cart-plus"></i>
                                            <span>Mua ngay</span>
                                          </a>
                                        </div>
                                    </div>
                                </div>
                              </li>

                      </div>

                  </div>
              </div>
            </li>
            <li class="item">
              <a href="/may-chay-bo-ban-chay-nhat" class="active" >Máy Chạy Bộ</a>
              <div class="item-detail">
                  <div class="item-detail-wrap">

                      <div class="item-sec sec-1">
                        <ul>
                              <li><a href="" >Máy Chạy Bộ BG</a></li>
                              <li><a href="" >Máy Chạy Bộ Tech Fitness</a></li>
                              <li><a href="" >Máy Chạy Bộ Mofit</a></li>
                              <li><a href="" >Máy Chạy Bộ Daiviet Sport</a></li>
                              <li><a href="" >Máy Chạy Bộ Elip</a></li>
                              <li><a href="" >Máy Chạy Bộ Kamasport</a></li>
                              <li><a href="" >Máy Chạy Bộ Động lực</a></li>
                              <li><a href="" >Máy Chạy Bộ Kingsport</a></li>
                              <li><a href="" class="">Máy Chạy Bộ Mofi</a></li>
                              <li><a href="" class="">Máy Chạy Bộ Buheung</a></li>
                        </ul>
                      </div>
                      <div class="item-sec sec-2">
                        <ul>
                              <li><a href="" title="Ghế Massage Tokuyo">Máy chạy bộ phổ thông</a></li>
                              <li><a href="" title="Ghế Massage Okia">Máy chạy bộ tầm trung</a></li>
                              <li><a href="" title="Ghế Massage Ogawa">Máy chạy bộ cao cấp</a></li>
                        </ul>
                      </div>
                      <div class="item-sec sec-3">
                        <ul><p>Máy chạy bộ bán chạy nhất<p>
                              <li class="item-sell-best">
                                <div class="product-sell-best">
                                    <div class="img-product-sell-best">
                                      <a href="#">
                                        <img src="/assest/image/image/may-chay-bo-01.jpg" alt="Ghế massage bán chạy nhất">
                                      </a>
                                    </div>
                                    <div class="detail-product-sell-best">
                                        <div class="name-product-sell-best"><a href="">Máy chạy bộ Kingsport</a></div>
                                        <div class="price-product-sell-best">85.990.000đ</div>
                                        <div class="buy-now">
                                          <a href="">
                                            <i class="fa fa-cart-plus"></i>
                                            <span>Mua ngay</span>
                                          </a>
                                        </div>
                                    </div>
                                </div>
                              </li>
                              <li class="item-sell-best">
                                <div class="product-sell-best">
                                    <div class="img-product-sell-best">
                                      <a href="#">
                                        <img src="/assest/image/image/may-chay-bo-01.jpg" alt="máy chạy bộ bán chạy nhất">
                                      </a>
                                    </div>
                                    <div class="detail-product-sell-best">
                                        <div class="name-product-sell-best"><a href="">Máy chạy bộ Elip</a></div>
                                        <div class="price-product-sell-best">85.990.000đ</div>
                                        <div class="buy-now">
                                          <a href="">
                                            <i class="fa fa-cart-plus"></i>
                                            <span>Mua ngay</span>
                                          </a>
                                        </div>
                                    </div>
                                </div>
                              </li>

                      </div>

                  </div>
              </div>
            </li>
            <li class="item">
              <a href="/bep-tu-bep-hong-ngoai-ban-chay-nhat" class="active" >Bếp hồng ngoại - bếp từ</a>
              <div class="item-detail">
                  <div class="item-detail-wrap">

                      <div class="item-sec sec-1">
                        <ul>
                              <li><a href="" >Bếp Media</a></li>
                              <li><a href="" >Bếp Đức</a></li>
                              <li><a href="" >Bếp Delites</a></li>
                              <li><a href="" >Bếp Sanaky</a></li>
                              <li><a href="" >Bếp Sunhouse</a></li>
                              <li><a href="" >Bếp Magic</a></li>
                              <li><a href="" >Bếp Malloca</a></li>
                        </ul>
                      </div>
                      <div class="item-sec sec-2">
                        <ul>
                              <li><a href="" >Bếp hồng ngoại đơn</a></li>
                              <li><a href="" >Bếp hồng ngoại đôi</a></li>
                              <li><a href="" >Bếp từ đơn</a></li>
                              <li><a href="" >Bếp từ đôi</a></li>
                              <li><a href="" >Bếp từ & hồng ngoại</a></li>
                        </ul>
                      </div>
                      <div class="item-sec sec-3">
                        <ul><p>Ghế massage bán chạy nhất<p>
                              <li class="item-sell-best">
                                <div class="product-sell-best">
                                    <div class="img-product-sell-best">
                                      <a href="#">
                                        <img src="/assest/image/image/bep-sunhouse.jpg" alt="Ghế massage bán chạy nhất">
                                      </a>
                                    </div>
                                    <div class="detail-product-sell-best">
                                        <div class="name-product-sell-best"><a href="">Bếp hồng ngoại Sunhouse</a></div>
                                        <div class="price-product-sell-best">85.990.000đ</div>
                                        <div class="buy-now">
                                          <a href="">
                                            <i class="fa fa-cart-plus"></i>
                                            <span>Mua ngay</span>
                                          </a>
                                        </div>
                                    </div>
                                </div>
                              </li>
                              <li class="item-sell-best">
                                <div class="product-sell-best">
                                    <div class="img-product-sell-best">
                                      <a href="#">
                                        <img src="/assest/image/image/bep-doi.jpg" alt="Ghế massage bán chạy nhất">
                                      </a>
                                    </div>
                                    <div class="detail-product-sell-best">
                                        <div class="name-product-sell-best"><a href="">Bếp hồng ngoại đôi Đức</a></div>
                                        <div class="price-product-sell-best">85.990.000đ</div>
                                        <div class="buy-now">
                                          <a href="">
                                            <i class="fa fa-cart-plus"></i>
                                            <span>Mua ngay</span>
                                          </a>
                                        </div>
                                    </div>
                                </div>
                              </li>

                      </div>

                  </div>
              </div>
            </li>
            <li class="item">
              <a href="/dich-vu-sua-chua" class="active" >Dịch vụ sửa chữa</a>
              <div class="item-detail service">
                  <div class="item-detail-wrap">

                      <div class="item-sec sec-right">
                        <ul>

                       </ul>
                      </div>

                  </div>
              </div>
            </li>
            <li class="item">
              <a href="/tin-tuc" class="active" >Tin tức</a>
            </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
